* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vh;
  height: 100%;
}

.App {
  width: 550px;
  height: 704px;
}

header {
  background-color: F55A5A;
  width: 550px;
  height: 55px;
}
